@model WebQuanAoDoAn.Models.KICH_THUOC

@{
    ViewBag.Title = "Themmoisize";
    Layout = "~/Views/Shared/layoutADMIN.cshtml";
}
<style>
    #MA_SP {
        display: block;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555555;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    }

   

    .cha-body h1 {
        margin-left: 600px;
    }

    .form-horizontal {
        margin-left: 500px;
    }

    .exit {
        margin-left: 600px;
    }
</style>
<div class="cha-body">
    <h1>Thêm Mới size</h1>
    <hr />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <div class="form-group">
                    <label class="control-label col-md-2"> TÊN SẢN PHẨM </label>
                    <div class="col-md-10">
                        @Html.DropDownList("MA_SP")
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TEN_KICH_THUOC, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="text" class="form-control" id="TEN_KICH_THUOC" name="TEN_KICH_THUOC" required />
                   
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

<div class="exit">
    @Html.ActionLink("Quay Về", "QLsize", "Admin")
</div>
    <hr />
